.bn-1{
	padding:15px 50px;
	border:none;
}

.bn-2{
	padding:15px 50px;
	border:none;
	border-radius:10px;
}

.bn-3{
	padding:15px 50px;
	border:none;
	border-radius:50px;
}



.bn-outline-1{
	padding:15px 50px;
	border:black solid;
	background-color: transparent;
	backdrop-filter: blur(10px);
}

.bn-outline-2{
	padding:15px 50px;
	border:black solid;
	border-radius:10px;
	background-color: transparent;
	backdrop-filter: blur(10px);
}

.bn-outline-3{
	padding:15px 50px;
	border:black solid;
	border-radius:50px;
	background-color: transparent;
	backdrop-filter: blur(10px);
}
