.w-25n{
	width:25%;
}

.w-30n{
	width:30%;
}

.w-35n{
	width:35%;
}

.w-40n{
	width:40%;
}

.w-45n{
	width:45%;
}

.w-50n{
	width:50%;
}

.w-55n{
	width:55%;
}

.w-60n{
	width:60%;
}

.w-65n{
	width:65%;
}

.w-70n{
	width:70%;
}

.w-75n{
	width:75%;
}

.w-80n{
	width:80%;
}


.h-25n{
	height:25px;
}

.h-30n{
	height:30px;
}

.h-35n{
	height:35px;
}

.h-40n{
	height:40px;
}

.h-45n{
	height:45px;
}

.h-50n{
	height:50px;
}

.h-55n{
	height:55px;
}

.h-60n{
	height:60px;
}

.h-65n{
	height:65px;
}

.h-70n{
	height:70px;
}

.h-75n{
	height:75px;
}

.h-80n{
	height:80px;
}


